// background color
$primaryColor: #84a178;

// background and text color
$secondaryColor: #fcfcfc;
// textcolor
$textColor: #131313;

// title font family
$titleFontFamily: 'Seymour One', sans-serif;
// background color for product section
$productsFirstBackgroundColor: #aec6a5;
$productsSecondBackgroundColor: #efd478;
$productsThirdBackgrondColor: #d6936d;
// buttons color
$bottonDefoultColor: #f8d24e;
$bottonBorderColor: #000000;
// hover color
$bottonActiveBackgroundColor: #0a8817;
$bottonActiveColor: #ffffff;

html {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;

  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Seymour One';
  font-size: 30px;
  font-weight: 400;
  line-height: calc(43 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.pretitle {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-family: '$titleFontFamily';
  font-size: 30px;
  font-weight: 400;
  line-height: calc(43 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.pretitle {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
