.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  // top: 20px;
  left: 50%;
  overflow-y: scroll;

  // width: 280px;
  display: block;
  border: 2px solid #f8d24e;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 32px;
  background: #fcfcfc;
  border-radius: 10px;
  transform: translate(-50%, -25%);
  @media screen and (min-width: 768px) {
    transform: translate(-50%, -50%);
  }
}
.modal__title {
  margin-bottom: 20px;
  padding-top: 28px;
  font-family: $titleFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  color: $textColor;
}

.modal__text {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: $textColor;
}

.modal__name,
.modal__tel,
.modal__email,
.modal__comment {
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: $textColor;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.modal__name--wrapped,
.modal__tel--wrapped,
.modal__comment--wrapped,
.modal__email--wrapped {
  @media screen and (min-width: 767.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.modal__submit {
  display: block;
  min-width: 114px;
  height: 42px;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 32px;
  background: #f8d24e;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $textColor;

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background: #0a8817;
    color: #ffffff;
  }
}

.modal__btn--closed {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: transparent;
  background-color: inherit;
}
