$primaryColor: #84a178;

// background and text color
$secondaryColor: #fcfcfc;
// textcolor
$textColor: #131313;

// title font family
$titleFontFamily: 'Seymour One', sans-serif;
// background color for product section
$productsFirstBackgroundColor: #aec6a5;
$productsSecondBackgroundColor: #efd478;
$productsThirdBackgrondColor: #d6936d;
// buttons color
$bottonDefoultColor: #f8d24e;
$bottonBorderColor: #000000;
// hover color
$bottonActiveBackgroundColor: #0a8817;
$bottonActiveColor: #ffffff;
// breakpoints

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

.title {
  font-family: '$titleFontFamily';
  font-size: 30px;
  font-weight: 400;
  line-height: calc(43 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}
.container__contacts {
  background-color: #84a178;
}

.pretitle {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.section__item-location {
  @media screen and (min-width: 480px) {
    max-width: 212px;
  }
  @media screen and (min-width: 768px) {
    max-width: 173px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 288px;
  }
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #131313;
}

.section__item {
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 16px;
  padding: 0;
  @media screen and (min-width: 480px) {
    width: 280px;
    height: 412px;
    padding: 40px 32px 24px 32px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 224px;
    height: 537px;
    padding: 40px 24px;
    margin-right: 16px;
    margin-bottom: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
    height: 542px;
    padding: 40px;
    margin-right: 32px;
    margin-bottom: 60px;
  }
}
.section__item-title {
  background: #f8d24e;
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 22px;
    max-width: 80px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 13px;
    max-width: 73px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 14px;
    max-width: 76px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.item-title {
  @media screen and (min-width: 480px) {
    max-width: 130px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    max-width: 138px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 148px;
  }
}
.section__item-name {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;

    color: #131313;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
.section__item-link {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
}
.schedule {
  margin-top: 24px;
  margin-bottom: 0;
}
.section__schedule-item {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #131313;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #131313;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #131313;
  }
}
.schedule-item {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ababab;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #ababab;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #ababab;
  }
}
.section__contact-tel,
.section__contact-mail {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #131313;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #131313;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #131313;
  }
}
.section__schedule {
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section {
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.button__location {
  width: 196px;
  height: 42px;
  background: #f8d24e;
  border-color: #f8d24e;
  border-radius: 10px;
  @media screen and (min-width: 480px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 16px;
  }
}
.button__franchise {
  width: 196px;
  height: 42px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-color: #f8d24e;
  border-radius: 10px;
}
.button__contact {
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
