.site-footer {
  background-color: $primaryColor;

  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 12px;
    padding-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 12px;
    padding-top: 120px;
  }
}

.site-footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
  }

  &--position {
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      align-items: self-start;
    }
  }
}

.site-footer{


&__block--position {
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    align-items: self-start;
  }
}

&__titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

&__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
}

.site-footer__pretitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $secondaryColor;

  @media screen and (max-width: 767px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 16px;
    max-width: 232px;
  }

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 8px;
    max-width: 352px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 14px;
    min-width: 504px;
  }
}

.site-footer__title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondaryColor;
  font-weight: 700;

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.21;
    max-width: 200px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.23;
    max-width: 352px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.23;
    min-width: 494px;
  }
}

.foot-social__contact {
  font-weight: 700;
  color: $textColor;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.83;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 34px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 40px;
  }
}

.foot-social__mobile {
  color: $secondaryColor;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover {
    color: #F8D24E;
  }
}

.site-footer__copyright {
  display: block;
  font-family: 'Montserrat';
  letter-spacing: 0.02em;
  color: #7a7a7a;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  font-weight: 700;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.83;
  }
}

.site-footer__copyright-text {
  @media screen and (min-width: 768px) {
    margin-left: 5px;
  }
}

// иконки

.foot-social {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 30px;
  
}

.foot-social__link {
  fill: $primaryColor;
  background-color: $bottonDefoultColor;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
  // background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// после запятой bg, (прописываем, если нужно fill менять тоже)  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
  fill: $secondaryColor;
  
}

&:focus {
  fill: $secondaryColor;
 
}

}

// Добавляем эффект вспышки

.area  {
  // text-align: center;
  font-size: 4.1em;
  color:  $secondaryColor;
  // letter-spacing: -7px;
  
  text-transform: uppercase ;
  animation: blur 5.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #F8D24E, 
      0px 0px 25px #F8D24E,
      0px 0px 25px #F8D24E,
      0px 0px 25px #F8D24E,
      0px 0px 25px #F8D24E,
      0px 0px 25px #F8D24E,
      0px 0px 25px #F8D24E,
      0px 0px 50px #F8D24E,
      0px 0px 50px #F8D24E,
      0px 0px 50px #FCFCFC,
      0px 0px 150px #FCFCFC,
      // 0px 10px 100px #FCFCFC,
      // 0px 10px 100px #FCFCFC,
      // 0px 10px 100px #FCFCFC,
      // 0px 10px 100px #FCFCFC,
      // 0px -10px 100px #FCFCFC,
      // 0px -10px 100px #FCFCFC;
  }
}


