.section {
  width: 100%;
  background-image: url('../images/galleryImg/backgroud_mobile.png');
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 768px) {
    background-image: url('../images/galleryImg/background_tablet.png');
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/galleryImg/backgroud_desktop.png');
  }
}
.slideshow-container {
  margin: 0 auto;
  transform: translateY(-32px);
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    transform: translateY(-112px);
  }
  @media screen and (min-width: 1200px) {
    width: 1013px;
  }
}

.gallery-img {
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}
