* {
  box-sizing: border-box;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}

// HEADER SECTION
.page-header {
  background-color: $primaryColor;
  padding: 12px 0;
}
.header-container {
  position: relative;

  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  display: inline-block;
  transition: scale 450ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.2;
  }
}

.logo__img {
  @media screen and (max-width: 480px) {
    width: 40px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 44px;
  }
  @media screen and (min-width: 769px) {
    width: 60px;
  }
}
.page-nav {
  display: none;

  @media screen and (min-width: 769px) {
    display: block;
  }
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media screen and (max-width: 480px) {
    &.is-open {
      display: block;
      padding-top: 50px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    &.is-open {
      display: block;
      width: 100%;
      padding-top: 75px;
      padding-bottom: 64px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 769px) {
    display: flex;
  }
}
.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 769px) {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
}
.main-nav__link {
  text-decoration: none;
  font-family: inherit;
  color: $secondaryColor;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $textColor;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
    line-height: calc(39 / 32);
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
  @media screen and (min-width: 769px) {
    font-size: 16px;
    line-height: calc(20 / 16);

    &:hover,
    &:focus {
      color: $bottonDefoultColor;
    }
  }
}

.menu-toggle {
  display: flex;
  align-content: center;
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  @media screen and (max-width: 480px) {
    // display: flex;
    & .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    display: block;
    position: absolute;
    right: 210px;
    top: 10px;

    &.is-open {
      right: 20px;
    }
    & .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
}

.buy-now-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 36px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $textColor;
  border-radius: 10px;
  background-color: $bottonDefoultColor;
  border: none;
  cursor: pointer;
  // display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    display: flex;
    &.is-open {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    display: flex;
  }

  &:hover {
    background-color: $bottonActiveBackgroundColor;
  }
  &:focus {
    background-color: $bottonActiveBackgroundColor;
    color: $bottonActiveColor;
  }
}
.buy-now-btn.mobile {
  display: none;
  @media screen and (max-width: 480px) {
    &.is-open {
      display: flex;
      margin: 110px auto 0 auto;
    }
  }
}
.mobile-menu {
  &.is-open {
    @media screen and (max-width: 480px) {
      padding-bottom: 64px;
      height: 100vh;
    }
  }
  &.is-open {
    @media screen and (min-width: 481px) and (max-width: 768px) {
      height: 100vh;
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

// HERO SECTION
.hero {
  background-color: $primaryColor;
  padding-bottom: 0;

  @media screen and (max-width: 480px) {
    padding-top: 50px;
    // padding-bottom: 0;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding-top: 14px;
    // padding-bottom: 12px;
  }
  @media screen and (min-width: 769px) {
    padding-top: 45px;
    // padding-bottom: 65px;
  }
}
.hero-container {
  position: relative;
}
.hero__head {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondaryColor;
  font-size: 26px;
  line-height: calc(33 / 26);

  @media screen and (max-width: 480px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 769px) {
    font-size: 38px;
    line-height: calc(48 / 38);
    margin-bottom: 28px;
  }
}

.hero-links {
  @media screen and (max-width: 480px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 769px) {
    margin-bottom: 42px;
  }
}

.hero-links__link {
  display: inline-block;
  font-family: inherit;
  font-weight: 600;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: calc(15 / 12);
  }

  @media screen and (min-width: 481px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero-links__link.product {
  border: 2px solid $bottonDefoultColor;
  border-radius: 10px;
  text-decoration: none;
  color: $bottonBorderColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: $bottonActiveBackgroundColor;
  }
  &:focus {
    border-color: $bottonActiveBackgroundColor;
    color: $bottonActiveColor;
  }

  @media screen and (max-width: 480px) {
    padding: 11px 26px;
  }

  @media screen and (min-width: 481px) {
    padding: 12px 34px;
  }
}

.hero-links__link.made {
  color: $bottonDefoultColor;
  margin-left: 12px;
  padding: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $bottonActiveBackgroundColor;
  }
  &:focus {
    color: $bottonActiveColor;
  }

  @media screen and (max-width: 480px) {
    padding: 6px 12px;
  }

  @media screen and (min-width: 481px) {
    padding: 12px 22px;
  }
}
.hero-content {
  display: flex;
  align-items: center;
  // z-index: 10;

  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding-bottom: 12px;
  }
  @media screen and (min-width: 769px) {
    padding-bottom: 65px;
  }
}
.hero-content__img {

  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 20%;
    max-width: 152px;

  }
}

.hero-content__img:hover {
  transform: rotate(360deg);
}


.hero-content__btn {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }
}
.hero-content__text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: $secondaryColor;

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 140px;
    margin-left: 32px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 769px) {
    font-size: 14px;
    line-height: calc(20 / 14);
    width: 200px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

.hero-img {
  z-index: 1;
  @media screen and (max-width: 480px) {
    width: 37%;
    max-width: 177px;
    margin-left: 30%;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 35%;
    max-width: 268px;
    position: absolute;
    bottom: 0;
    right: 92px;
  }
  @media screen and (min-width: 769px) {
    width: 39%;
    position: absolute;
    bottom: 0;
    left: 53%;
    // right: 92px;
  }
}

.hero-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 481px) {
    display: block;
    position: absolute;
    top: 16px;
    right: 32px;
  }
}
.hero-list__item {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  letter-spacing: 0.04em;
  // text-transform: uppercase;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 769px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }

  &:hover,
  &:focus {
    scale: 1.2;
  }
}
.hero-list__text {
  margin-top: 4px;
  font-size: 8px;
  line-height: calc(10 / 8);
  font-weight: 400;
  color: $secondaryColor;

  @media screen and (min-width: 769px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
.hero__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;

  @media screen and (max-width: 480px) {
    background-image: url('../images/heroheader/dots-mob.png');
    height: 50px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/heroheader/dots-mob@2x.png');
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: url('../images/heroheader/dots-tabl.png');
    height: 68px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/heroheader/dots-tabl@2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/heroheader/dots.png');
    // height: 384px;
    height: 30vw;
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/heroheader/dots@2x.png');
    }
  }
}
