.modal .ingradients {
  position: fixed;
  top: 60%;
  left: 50%;
}

.ingradients {
  // display: block;

  // height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 32px;
  background: #fcfcfc;
  border-radius: 10px;

  // временно ширину и высоту выставил фиксированно

  @media screen and (max-width: 767px) {
    // height: 968px;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    // height: 996px;
    width: 568px;
  }
}
.ingradients__title {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: $titleFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: $textColor;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    gap: 10px;
  }
}
.ingradients__ice-cream {
  border-radius: 50%;
}
.ingradients__titlelist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin-bottom: 24px;
  color: $textColor;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
}

.ingradients__text {
  //  display: flex;
  // align-items: center;
  // text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}
.ingradients__box {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  // gap: 11px;
}
.ingradients__img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
}
.ingradients__img-ice {
  z-index: 1;
}
.img-shadow {
  z-index: -1;
  position: absolute;
  width: 132px;
  height: 132px;
  background-color: #9cbe8fb3;
  border-radius: 50%;
  transform: translateY(7%);
  box-shadow: 0 6px 20px #0a881740;
}

.ingradients__component {
  display: flex;
  justify-content: space-evenly;
  margin-top: 29px;
  @media screen and (min-width: 768px) {
    margin-top: 31px;
  }
}
.ingradients .modal__name,
.ingradients .modal__tel {
  margin-bottom: 16px;
}
.ingradients .modal__comment {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.ingradients__box--wrapped {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 24px;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}
.ingradients__field {
  display: flex;
  justify-content: space-around;
}

.ingradients-user__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  // background-size: contain;
  // background-repeat: no-repeat;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}
.product_box--upper {
  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #9cbe8f;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.33;
  color: #131313;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  transform: translateY(-2%);
  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    font-size: 12px;
  }
}
.product_box--lower {
  // display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1;
  display: block;
  align-items: center;
  text-align: center;
  color: #131313;
}
