.modal__video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 224px;
  height: 199px;
  //   background-color: #131313;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 0;
  // padding-left: auto;
  // padding-right: auto;
}
