.product__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.product .modal__name,
.product .modal__tel {
  margin-bottom: 12px;
}
.product .modal__comment {
  margin-bottom: 26px;
}
