@charset "UTF-8";
html {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4333333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.25;
  }
}

.pretitle, .about__pretitle {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .pretitle, .about__pretitle {
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .pretitle, .about__pretitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.button, .about__button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-family: "$titleFontFamily";
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4333333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.25;
  }
}

.pretitle, .about__pretitle {
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .pretitle, .about__pretitle {
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .pretitle, .about__pretitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.button, .about__button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

* {
  box-sizing: border-box;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.page-header {
  background-color: #84a178;
  padding-top: 12px;
}

.header-container {
  position: relative;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 769px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .logo__img {
    width: 40px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo__img {
    position: absolute;
    left: 30px;
    top: 0;
    width: 44px;
  }
}
@media screen and (min-width: 769px) {
  .logo__img {
    width: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .page-nav.is-open {
    width: 100%;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
@media screen and (max-width: 480px) {
  .main-nav.is-open {
    display: block;
    padding-top: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-nav.is-open {
    display: block;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 64px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .main-nav {
    display: flex;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .main-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 769px) {
  .main-nav__item:not(:last-child) {
    margin-right: 28px;
  }
}

.main-nav__link {
  text-decoration: none;
  font-family: inherit;
  color: #fcfcfc;
  font-weight: 700;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #131313;
}
@media screen and (max-width: 480px) {
  .main-nav__link {
    font-size: 32px;
    line-height: 1.21875;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-nav__link {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 769px) {
  .main-nav__link {
    font-size: 16px;
    line-height: 1.25;
  }
  .main-nav__link:hover, .main-nav__link:focus {
    color: #f8d24e;
  }
}

.menu-toggle {
  display: flex;
  align-content: center;
  display: block;
  cursor: pointer;
  border: none;
  background: none;
}
@media screen and (max-width: 480px) {
  .menu-toggle {
    position: absolute;
    right: 0;
    top: 4px;
  }
  .menu-toggle .icon-cross {
    display: none;
  }
  .menu-toggle.is-open .icon-cross {
    display: block;
  }
  .menu-toggle.is-open .icon-menu {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .menu-toggle {
    display: block;
    margin-right: 184px;
  }
  .menu-toggle.is-open {
    position: absolute;
    right: 20px;
    top: 4px;
    margin: 0;
  }
  .menu-toggle .icon-cross {
    display: none;
  }
  .menu-toggle.is-open .icon-cross {
    display: block;
  }
  .menu-toggle.is-open .icon-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

.buy-now-btn {
  align-items: center;
  text-align: center;
  padding: 12px 36px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #131313;
  border-radius: 10px;
  background-color: #f8d24e;
  border: none;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 480px) {
  .buy-now-btn.is-open {
    display: flex;
    margin: 110px auto 0 auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .buy-now-btn {
    display: flex;
    position: absolute;
    top: 6px;
    right: 30px;
  }
  .buy-now-btn.is-open {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .buy-now-btn {
    display: flex;
  }
}
.buy-now-btn:hover {
  background-color: #0a8817;
}
.buy-now-btn:focus {
  background-color: #0a8817;
  color: #ffffff;
}

.hero {
  background-color: #84a178;
  padding-bottom: 0;
}
@media screen and (max-width: 480px) {
  .hero {
    padding-top: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    padding-top: 14px;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 45px;
  }
}

.hero-container {
  position: relative;
}

.hero__head {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 26px;
  line-height: 1.2692307692;
}
@media screen and (max-width: 480px) {
  .hero__head {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero__head {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 769px) {
  .hero__head {
    font-size: 38px;
    line-height: 1.2631578947;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 480px) {
  .hero-links {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-links {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 769px) {
  .hero-links {
    margin-bottom: 42px;
  }
}

.hero-links__link {
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .hero-links__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 481px) {
  .hero-links__link {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.hero-links__link.product {
  border: 2px solid #f8d24e;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}
.hero-links__link.product:hover {
  border-color: #0a8817;
}
.hero-links__link.product:focus {
  border-color: #0a8817;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .hero-links__link.product {
    padding: 11px 26px;
  }
}
@media screen and (min-width: 481px) {
  .hero-links__link.product {
    padding: 12px 34px;
  }
}

.hero-links__link.made {
  color: #f8d24e;
  margin-left: 12px;
  padding: 0;
}
.hero-links__link.made:hover {
  color: #0a8817;
}
.hero-links__link.made:focus {
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .hero-links__link.made {
    padding: 6px 12px;
  }
}
@media screen and (min-width: 481px) {
  .hero-links__link.made {
    padding: 12px 22px;
  }
}

.hero-content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .hero-content {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-content {
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 769px) {
  .hero-content {
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-content__img {
    width: 152px;
  }
}

.hero-content__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4166666667;
  color: #fcfcfc;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-content__text {
    width: 140px;
    margin-left: 32px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 769px) {
  .hero-content__text {
    font-size: 14px;
    line-height: 1.4285714286;
    width: 200px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .icon-arrow {
    margin-top: 12px;
  }
}
@media screen and (min-width: 769px) {
  .icon-arrow {
    margin-top: 24px;
  }
}

@media screen and (max-width: 480px) {
  .hero-img {
    width: 177px;
    margin-left: 63px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-img {
    width: 268px;
    position: absolute;
    bottom: 0;
    right: 92px;
  }
}
@media screen and (min-width: 769px) {
  .hero-img {
    position: absolute;
    bottom: 0;
    left: 636px;
  }
}

.hero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 480px) {
  .hero-list {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .hero-list {
    display: block;
    position: absolute;
    top: 16px;
    right: 32px;
  }
}

.hero-list__item {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2142857143;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 769px) {
  .hero-list__item {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.hero-list__text {
  margin-top: 4px;
  font-size: 8px;
  line-height: 1.25;
  font-weight: 400;
  color: #fcfcfc;
}
@media screen and (min-width: 769px) {
  .hero-list__text {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.hero__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .hero__background {
    background-image: url("../images/heroheader/dots-mob.png");
    height: 50px;
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/heroheader/dots-mob@2x.png");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero__background {
    background-image: url("../images/heroheader/dots-tabl.png");
    height: 68px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/heroheader/dots-mob@2x.png");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-width: 769px) {
  .hero__background {
    background-image: url("../images/heroheader/dots.png");
    height: 384px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("../images/heroheader/dots@2x.png");
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/products/bg_sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/bg_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 82px;
    background-image: url(../images/products/bg_md.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/bg_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 66px;
    background-image: url(../images/products/bg_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products/bg_lg@2x.jpg);
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 164px;
}
@media screen and (min-width: 768px) {
  .products-list {
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    gap: 32px;
  }
}

.products__title {
  margin-bottom: 148px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 1.26;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.products__pretitle {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__pretitle {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .products__pretitle {
    font-size: 30px;
    line-height: 1.23;
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 420px;
  border-radius: 24px;
  padding-top: 123px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .product-card {
    width: 224px;
    height: 428px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card {
    width: 370px;
    height: 535px;
    padding-top: 165px;
    padding-bottom: 60px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.ice-cream {
  background-color: #aec6a5;
}
.ice-cream::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 242px;
  min-height: 241px;
  background-image: url(../images/products/img-1_sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url("../images/products/img-1_sm@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .ice-cream::before {
    min-width: 239px;
    min-height: 237px;
    background-image: url(../images/products/img-1_md.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url("../images/products/img-1_md@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .ice-cream::before {
    min-width: 363px;
    min-height: 361px;
    background-image: url(../images/products/img-1_lg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .ice-cream::before {
    background-image: url("../images/products/img-1_lg@2x.png");
  }
}

.ice-coffee {
  background-color: #efd478;
}
.ice-coffee::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 242px;
  min-height: 241px;
  background-image: url(../images/products/img-2_sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url("../images/products/img-2_sm@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .ice-coffee::before {
    min-width: 239px;
    min-height: 237px;
    background-image: url(../images/products/img-2_md.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url("../images/products/img-2_md@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .ice-coffee::before {
    min-width: 363px;
    min-height: 361px;
    background-image: url(../images/products/img-2_lg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .ice-coffee::before {
    background-image: url("../images/products/img-2_lg@2x.png");
  }
}

.milkshakes {
  background-color: #d6936d;
}
.milkshakes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 242px;
  min-height: 241px;
  background-image: url(../images/products/img-3_sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url("../images/products/img-3_sm@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .milkshakes::before {
    min-width: 239px;
    min-height: 237px;
    background-image: url(../images/products/img-3_md.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url("../images/products/img-3_md@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .milkshakes::before {
    min-width: 363px;
    min-height: 361px;
    background-image: url(../images/products/img-3_lg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .milkshakes::before {
    background-image: url("../images/products/img-3_lg@2x.png");
  }
}

.product-card__title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .product-card__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .product-card__title {
    font-size: 30px;
    margin-bottom: 65px;
  }
}

.product-card__text {
  line-height: 1.76;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .product-card__text {
    font-size: 16px;
  }
}

.product-card__button {
  width: 60px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 10px 0;
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card__button:focus .product-card__icon, .product-card__button:hover .product-card__icon {
  scale: 1.4;
  fill: #0a8817;
}

.product-card__icon {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.product-card__icon:hover, .product-card__icon:focus {
  fill: #0a8817;
  scale: 1.4;
}

@media screen and (max-width: 768px) {
  .about__container {
    text-align: center;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #84a178;
}

.about__pretitle {
  color: #fcfcfc;
}

.about__title {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4333333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 1.25;
  }
}

.about__box {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__box {
    display: flex;
  }
}

.cow-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
}
@media screen and (min-width: 768px) {
  .cow-box {
    width: 330px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-box {
    width: 490px;
    height: 490px;
  }
}

.about__content {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 334px;
    margin-left: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    display: block;
    width: 463px;
    margin-left: 110px;
  }
}

.about__picture {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  transform: translateY(40px);
}

.about__text {
  color: #fcfcfc;
  font-size: 12px;
  line-height: 1.75;
  line-height: 176%;
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    margin-bottom: 32px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 54px;
  }
}

.about__paragraph:not(:last-child) {
  margin-bottom: 8px;
}

.about__button {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  background-color: #f8d24e;
  border: none;
  padding: 12px 35px;
  line-height: 1.2857142857;
  cursor: pointer;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .about__button {
    margin-top: 54px;
    padding: 12px 35px;
  }
}
.about__button:hover {
  background-color: #0a8817;
}
.about__button:focus {
  background-color: #0a8817;
  color: #ffffff;
  fill: #ffffff;
}

.about__button-text {
  margin-right: 4px;
}

.advantages {
  background-color: #84a178;
  padding-bottom: 64px;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 178px;
  }
}

.advantages-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    align-items: flex-end;
  }
}

.advantages-list__item::before {
  content: " ";
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8d24e;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.icon-cow::before {
  background-image: url(../images/cow.svg);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .icon-cow::before {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-cow::before {
    margin-bottom: 40px;
  }
}

.icon-weight::before {
  background-image: url(../images/weight.svg);
  margin-bottom: 16px;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .icon-weight::before {
    margin-bottom: 32px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-weight::before {
    margin-bottom: 40px;
  }
}

.icon-icecream::before {
  background-image: url(../images/icecream.svg);
  margin-bottom: 22px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .icon-icecream::before {
    margin-bottom: 32px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-icecream::before {
    margin-bottom: 40px;
  }
}

.advantages-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #fcfcfc;
  padding: 0px 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.advantages-list__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.81;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    font-size: 48px;
    line-height: 0.82;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-size: 58px;
  }
}

.section {
  width: 100%;
  background-image: url("../images/galleryImg/backgroud_mobile.png");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .section {
    background-image: url("../images/galleryImg/background_tablet.png");
  }
}
@media screen and (min-width: 1200px) {
  .section {
    background-image: url("../images/galleryImg/backgroud_desktop.png");
  }
}

.slideshow-container {
  margin: 0 auto;
  transform: translateY(-32px);
}
@media screen and (min-width: 768px) {
  .slideshow-container {
    width: 704px;
    transform: translateY(-112px);
  }
}
@media screen and (min-width: 1200px) {
  .slideshow-container {
    width: 1013px;
  }
}

.gallery-img {
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery-img {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-img {
    border-radius: 24px;
  }
}

.list {
  list-style: none;
}

.customer {
  background-image: url(./../images/customer/Backgroud_mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customer {
    background-image: url(./../images/customer/Backgroud_mobile2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .customer {
    background-image: url(./../images/customer/Background_tablet.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .customer {
    background-image: url(./../images/customer/Background_tablet2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .customer {
    max-width: 1600px;
    background-image: url(./../images/customer/Backgroud_desktop.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .customer {
    background-image: url(./../images/customer/Backgroud_desktop2x.jpg);
  }
}

.customer__slider {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 464px;
}

.customer__picture {
  border-radius: 50%;
  display: inline;
}

.customer-reviews {
  width: 280px;
  height: 256px;
  background: #84A178;
  border-radius: 10px;
  margin-top: 32px;
}
@media screen and (min-width: 468px) {
  .customer-reviews {
    width: 705px;
    height: 138px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    width: 968px;
  }
}

.customer__text {
  padding: 35px 39px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #FCFCFC;
}
@media screen and (min-width: 468px) {
  .customer__text {
    padding: 28px 80px 29px;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .customer__text {
    padding: 43px 109px;
    font-size: 16px;
  }
}

.customer__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  padding-top: 32px;
}

.container__contacts {
  background-color: #84a178;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #131313;
}

.section__item {
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 0;
}
@media screen and (max-width: 479px) {
  .section__item {
    width: 280px;
    padding: 40px 32px 24px 32px;
  }
}
@media screen and (min-width: 480px) {
  .section__item {
    width: 280px;
    padding: 40px 32px 24px 32px;
  }
}
@media screen and (max-width: 767px) {
  .section__item {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .section__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .section__item {
    width: 224px;
    height: 537px;
    padding: 40px 24px;
    margin-right: 16px;
  }
  .section__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section__item {
    width: 368px;
    height: 542px;
    padding: 40px;
    margin-right: 32px;
  }
}

.section__item-title {
  background: #f8d24e;
  border-radius: 4px;
}
@media screen and (min-width: 479px) {
  .section__item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 22px;
    max-width: 80px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .section__item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 22px;
    max-width: 80px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 13px;
    max-width: 73px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 14px;
    max-width: 76px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .item-title {
    max-width: 120px;
  }
}
@media screen and (min-width: 480px) {
  .item-title {
    max-width: 130px;
  }
}
@media screen and (min-width: 768px) {
  .item-title {
    display: inline-block;
    max-width: 138px;
  }
}
@media screen and (min-width: 1200px) {
  .item-title {
    max-width: 148px;
  }
}

@media screen and (max-width: 479px) {
  .section__item-name {
    font-weight: 500;
    font-size: 10px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 480px) {
  .section__item-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .section__item-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #131313;
    margin-top: 0;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 479px) {
  .section__item-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
  .section__item-link:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 480px) {
  .section__item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
  .section__item-link:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  .section__item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
}
@media screen and (min-width: 1200px) {
  .section__item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #d6936d;
  }
}

@media screen and (max-width: 479px) {
  .schedule {
    margin-top: 20px;
  }
  .schedule:last-child {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .schedule {
    margin-top: 24px;
  }
  .schedule:last-child {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .schedule {
    margin-top: 32px;
  }
  .schedule:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 479px) {
  .section__schedule-item {
    font-weight: 500;
    font-size: 10px;
    line-height: 186%;
    color: #131313;
  }
}
@media screen and (min-width: 480px) {
  .section__schedule-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #131313;
  }
}
@media screen and (min-width: 768px) {
  .section__schedule-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #131313;
  }
}
@media screen and (min-width: 1200px) {
  .section__schedule-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #131313;
  }
}

@media screen and (max-width: 479px) {
  .schedule-item {
    font-weight: 500;
    font-size: 10px;
    line-height: 186%;
    color: #ababab;
  }
}
@media screen and (min-width: 480px) {
  .schedule-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ababab;
  }
}
@media screen and (min-width: 768px) {
  .schedule-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    color: #ababab;
  }
}
@media screen and (min-width: 1200px) {
  .schedule-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #ababab;
  }
}

@media screen and (max-width: 479px) {
  .section__contact-tel,
.section__contact-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #131313;
  }
}
@media screen and (min-width: 480px) {
  .section__contact-tel,
.section__contact-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #131313;
  }
}
@media screen and (min-width: 768px) {
  .section__contact-tel,
.section__contact-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #131313;
  }
}
@media screen and (min-width: 1200px) {
  .section__contact-tel,
.section__contact-mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #131313;
  }
}

.section__schedule {
  border: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .section__list {
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .section__list {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .section__list {
    display: flex;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section__list {
    margin-bottom: 60px;
    width: 1168px;
  }
}

/*кнопки*/
.button, .about__button {
  display: inline-block;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.contact-button {
  display: inline-block;
  border-radius: 10px;
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 196px;
  height: 42px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border: 2px solid #f8d24e;
  background: transparent;
  cursor: pointer;
}
.contact-button:hover {
  background-color: #d6936d;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-button--color {
  background-color: #f8d24e;
}
@media screen and (max-width: 767px) {
  .contact-button--color {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contact-button--color {
    margin-right: 16px;
  }
}

.contact-button__text {
  margin-right: 7px;
}

.site-contact__block {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .site-contact__block {
    display: block;
    width: 196px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .site-contact__block {
    display: flex;
  }
}

.site-footer {
  background-color: #84a178;
}
@media screen and (max-width: 767px) {
  .site-footer {
    padding-bottom: 20px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .site-footer {
    padding-bottom: 12px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer {
    padding-bottom: 12px;
    padding-top: 120px;
  }
}

.site-footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .site-footer__block {
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .site-footer__block {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__block {
    margin-bottom: 120px;
  }
}

.site-footer__block--position {
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .site-footer__block--position {
    flex-wrap: wrap;
    align-items: self-start;
  }
}

.site-footer__titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.site-footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer-button__block {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.site-footer__pretitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .site-footer__pretitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 16px;
    max-width: 232px;
  }
}
@media screen and (min-width: 768px) {
  .site-footer__pretitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.23;
    margin-bottom: 8px;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__pretitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 14px;
    min-width: 504px;
  }
}

.site-footer__title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcfcfc;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .site-footer__title {
    font-size: 34px;
    line-height: 1.21;
    max-width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .site-footer__title {
    font-size: 48px;
    line-height: 1.23;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__title {
    font-size: 58px;
    line-height: 1.23;
    min-width: 494px;
  }
}

.foot-social__contact {
  font-weight: 700;
  color: #131313;
}
@media screen and (max-width: 767px) {
  .foot-social__contact {
    font-size: 12px;
    line-height: 1.83;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .foot-social__contact {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .foot-social__contact {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 40px;
  }
}

.foot-social__mobile {
  color: #fcfcfc;
  text-decoration: none;
}

.site-footer__copyright {
  display: block;
  font-family: "Montserrat";
  letter-spacing: 0.02em;
  color: #7A7A7A;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .site-footer__copyright {
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .site-footer__copyright {
    font-size: 14px;
    line-height: 1.86;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer__copyright {
    font-size: 12px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 768px) {
  .site-footer__copyright-text {
    margin-left: 5px;
  }
}

.foot-social__link {
  fill: #84A178;
  background-color: #F8D24E;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-social__link:hover {
  fill: #FCFCFC;
}

.foot-social {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: scale(1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border: 2px solid #f8d24e;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 32px;
  background: #fcfcfc;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal__title {
  margin-bottom: 20px;
  padding-top: 28px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #131313;
}

.modal__text {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}

.modal__name,
.modal__tel,
.modal__email,
.modal__comment {
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal__name,
.modal__tel,
.modal__email,
.modal__comment {
    width: 368px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .modal__name--wrapped,
.modal__tel--wrapped,
.modal__comment--wrapped {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.modal__submit {
  display: block;
  min-width: 114px;
  height: 42px;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 32px;
  background: #f8d24e;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #131313;
}

.modal__btn--closed {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: transparent;
  background-color: inherit;
}

.product__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .product__img {
    flex-direction: row;
  }
}

.product .modal__name,
.product .modal__tel {
  margin-bottom: 12px;
}

.product .modal__comment {
  margin-bottom: 26px;
}

.franchise .modal__name,
.franchise .modal__tel,
.franchise .modal__email {
  margin-bottom: 12px;
}

.franchise .modal__comment {
  margin-bottom: 26px;
}

.ingradients {
  display: block;
  width: 100vw;
  height: 968px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fcfcfc;
  border-radius: 10px;
}

.ingradients__title {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 28px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}

.ingradients__titlelist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  color: #131313;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.ingradients__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}

.ingradients__box {
  display: flex;
  justify-content: space-between;
}

.ingradients__img {
  display: flex;
  justify-content: center;
}

.ingradients__component {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.ingradients .modal__name,
.ingradients .modal__tel {
  margin-bottom: 16px;
}

.ingradients .modal__comment {
  margin-bottom: 24px;
}

.ingradients__box--wrapped {
  margin-bottom: 40px;
}

.ingradients__field {
  display: flex;
  justify-content: space-around;
}

.map__box {
  width: 224px;
  height: 199px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .map__box {
    width: 448px;
    height: 260px;
  }
}

.map__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 42px;
  margin: 0 auto;
  padding: 0 auto;
  background: #f8d24e;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #131313;
}

.modal__map {
  color: #131313;
}

.modal__video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 224px;
  height: 199px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 0;
}
@media screen and (max-width: 479px) {
  .modal__video {
    max-width: 224px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 768px) {
  .modal__video {
    min-width: 448px;
    height: 205px;
  }
}

.modal__video--wrapped {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */