<section class="about">
  <div class="container about__container">
    <p class="about__pretitle pretitle">tradition and love</p>
    <h2 id="about" class="about__title">How it's made?</h2>
    <div class="about__box">
      <div class="cow-box">
        <picture class="about__picture">
          <source
            srcset="
              ./images/about/cow-desktop@1x.png 1x,
              ./images/about/cow-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            scrset="
            ./images/about/cow-tablet@1x.png 1x,
            ./images/about/cow-tablet@2x.png 2x
          "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/about/cow-phone@1x.png 1x,
              ./images/about/cow-phone@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/about/cow-phone@1x.png" alt="cow on the grass" />
        </picture>
      </div>
      <div class="about__content">
        <div class="about__text">
          <p class="about__paragraph">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts. We use traditional recipes and
            100% natural ingredients. Our products are so natural that they can
            be given to children from the age of three years.
          </p>
          <p class="about__paragraph">
            Sweets lovers can expect 55 types of ice cream, 15 types of coffee
            and 23 milkshakes.
          </p>

          <p class="about__paragraph">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        </div>
        <button class="about__button button" type="button" data-modal-open="2">
          <span class="about__button-text">Read more</span>
          <svg width="12" height="12">
            <use href="./images/symbols.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
