<section class="advantages section">
  <h2 hidden>Advantages</h2>
  <div class="advantages-block container">
    <ul class="advantages-list list">
      <li class="advantages-list__item icon-cow">
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item icon-weight">
        <h3 class="advantages-list__title">16kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item icon-icecream">
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
