<div class="container container__contacts">
  <ul class="section">
    <li class="section__item">
      <h1 class="section__item-title">CAFE</h1>
      <div class="section__item-location">
        <h2 class="section__item-name">Chicago</h2>
        <a
          class="section__item-link"
          href="https://goo.gl/maps/UeeAZ22TufaeNBUz6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p class="schedule">
              Monday - Friday
              <span class="schedule-item"><br />06:00 AM - 10:00 PM</span>
            </p>
          </li>
          <li class="section__schedule-item">
            <p class="schedule">
              Saturday - Sunday
              <span class="schedule-item"><br />08:00 AM - 16:00 PM</span>
            </p>
          </li>
        </ul>
      </div>
      <div>
        <ul class="section__contact">
          <li class="section__contact-tel">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="section__item">
      <h1 class="section__item-title item-title">FOOD TRUCK</h1>
      <div class="section__item-location">
        <h2 class="section__item-name">Los Angeles</h2>
        <a
          class="section__item-link"
          href="https://goo.gl/maps/ZZVsVdAtQfAHzwt89"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p class="schedule">
              Monday - Friday<span class="schedule-item"
                ><br />06:00 AM - 10:00 PM</span
              >
            </p>
          </li>
          <li class="section__schedule-item">
            <p class="schedule">
              Saturday - Sunday<span class="schedule-item"
                ><br />08:00 AM - 16:00 PM</span
              >
            </p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="section__contact-tel">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="section__item">
      <h1 class="section__item-title">CAFE</h1>
      <div class="section__item-location">
        <h2 class="section__item-name">New York</h2>
        <a
          class="section__item-link"
          href="https://goo.gl/maps/V1PRptehkYJ87Fgz6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p class="schedule">
              Monday - Friday<span class="schedule-item"
                ><br />06:00 AM - 10:00 PM</span
              >
            </p>
          </li>
          <li class="section__schedule-item">
            <p class="schedule">
              Saturday - Sunday<span class="schedule-item"
                ><br />08:00 AM - 16:00 PM</span
              >
            </p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="section__contact-tel">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div>
    <ul class="button__contact">
      <li><button class="button button__location">Our Locations</button></li>
      <li><button class="button button__franchise">Franchise</button></li>
    </ul>
  </div>
  </div>
</div>
