<div class="container">
  <ul class="section">
    <li class="section__item">
      <h1 class="section__main-title">CAFE</h1>
      <div>
        <h2 class="section__title">Chicago</h2>
        <a
          class="section__link"
          href="https://goo.gl/maps/UeeAZ22TufaeNBUz6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
          </li>
          <li class="section__schedule-item">
            <p>Saturday - Sunday <span>08:00 AM - 16:00 PM</span></p>
          </li>
        </ul>
      </div>
      <div>
        <ul class="section__contact">
          <li class="section__contact-tel">
            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <h1>FOOD TRUCK</h1>
      <div>
        <h2>Los Angeles</h2>
        <a
          href="https://goo.gl/maps/ZZVsVdAtQfAHzwt89"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p>Monday - Friday<span>06:00 AM - 10:00 PM</span></p>
          </li>
          <li class="section__schedule-item">
            <p>Saturday - Sunday<span>08:00 AM - 16:00 PM</span></p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="section__contact-tel">
            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <h1>CAFE</h1>
      <div>
        <h2>New York</h2>
        <a
          href="https://goo.gl/maps/V1PRptehkYJ87Fgz6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </div>

      <div>
        <ul class="section__schedule">
          <li class="section__schedule-item">
            <p>Monday - Friday<span>06:00 AM - 10:00 PM</span></p>
          </li>
          <li class="section__schedule-item">
            <p>Saturday - Sunday<span>08:00 AM - 16:00 PM</span></p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="section__contact-tel">
            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
          </li>
          <li class="section__contact-mail">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
