<section class="customer" data-slider="team-slider">
    <div class="swiper customer__slider">
      <ul class="swiper-wrapper list">
          <li class="swiper-slide customer__item">
              <img class="customer__picture"
              srcset="./images/customer/elias.jpg 1x, 
              ./images/customer/elias.jpg 2x"
              src="./images/customer/elias.jpg" 
              href="#" width="85px" height="85px" alt="брюнетка в сірій майці">
              <div class="customer-reviews">
                <p class="customer__text">
                I love visiting your cafe. You prepare the most delicious
                ice cream in Los Angeles! In addition, you have beautiful
                serving, cozy atmosphere and polite staff.
              </p>
            </div>
              <h2 class="customer__name">Emily, Los Angeles</h2>
          </li>
          <li class="swiper-slide customer__item">
            <img class="customer__picture"
            srcset="./images/customer/Bryan.jpg 1x, 
            ./images/customer/Bryan2x.jpg 2x"
            src="./images/customer/Bryan.jpg" 
            href="#" width="85px" height="85px" 
            alt="темношкірий хлопець в рожевій бейсболці їсть морозиво">
            <div class="customer-reviews">
              <p class="customer__text">
                Every day we come to you with friends after classes in 
                college. We love your ice cream and casual atmosphere!
            </p>
          </div>
            <h2 class="customer__name">Bryan, New-York</h2>
        </li>
        <li class="swiper-slide customer__item">
          <img class="customer__picture"
          srcset="./images/customer/Diana.jpg 1x, 
          ./images/customer/Diana2x.jpg 2x"
          src="./images/customer/Diana.jpg" 
          href="#" width="85px" height="85px" 
          alt="дівчина в окулярах посміхаючись їсть морозиво">
          <div class="customer-reviews">
            <p class="customer__text">
              Ice cream is my passion! I love your chocolate hazelnut 
              ice cream! And I really like the excellent service - 
              always served politely and quickly!
          </p>
        </div>
          <h2 class="customer__name">Diana, Chicago</h2>
      </li>
      </ul>
      </div>
      <div class="swiper-pagination"></div>
  </section>