<section class="customer">
    <div class="customer-picture">
        <img  src="./images/customer/elias.jpg" 
        href="#" width="85px" height="85px" >
    </div>
    <div class="customer-reviews">
        <p class="customer-reviews__text">
        I love visiting your cafe. You prepare the most delicious
         ice cream in Los Angeles! In addition, you have beautiful
          serving, cozy atmosphere and polite staff.
    </p>
</div>
<p class="customer-reviews__title">Emily, Los Angeles</p>
</section>
