<footer class="site-footer">
  <div class="container">
    <!-- Cсылки на локацию и усливия франшизы -->
    <!-- <div class="site-footer__block"> 
       <button class="footer-button footer-button--color" type="button">
        <div class="footer-button__block footer-button__block--color">
          <span class="footer-button__text">Our Locations</span>
          <svg width="12" height="12">
            <use href="./images/symbols.svg#icon-arrow"></use>
          </svg>
        </div>
      </button>

      <button class="footer-button" type="button">
        <div class="footer-button__block">
          <span class="footer-button__text">Franchise</span>
          <svg width="12" height="12">
            <use href="./images/symbols.svg#icon-arrow"></use>
          </svg>
        </div>
      </button> 
    </div>  -->
    <div class="site-footer__block site-footer__block--position">
      <!-- Заголовки footer -->
      <div class="site-footer__titles">
        <p class="site-footer__pretitle">homemade ice cream made</p>
        <p class="site-footer__title">with passion</p>
      </div>

      <!-- Социальные иконки и телефон -->
      <div class="site-footer__contacts">
        <ul class="foot-social">
          <li class="foot-social__item">
            <a href="https://github.com/" class="foot-social__link" target="_blank">
              <svg width="34" height="34" class="foot-social__icon">
                <use href="./images/symbols.svg#footer-github"></use>
            </svg></a>
          </li>
          <li class="foot-social__item">
            <a href="https://telegram.org/" class="foot-social__link" target="_blank">
              <svg width="34" height="34" class="foot-social__icon">
                <use href="./images/symbols.svg#footer-telegram"></use>
            </svg></a>
          </li>
          <li class="foot-social__item">
            <a href="https://www.facebook.com/" class="foot-social__link" target="_blank">
              <svg width="34" height="34" class="foot-social__icon">
                <use href="./images/symbols.svg#footer-facebook"></use>
            </svg></a>
          </li>
        </ul>

        <div class="foot-social__contact">
          <span class="foot-social__text">Feel free to contact </span
          ><a class="foot-social__mobile" href="tel:+61 (0) 383 766 284">
            +61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- copyright footer -->
  <div class="site-footer__copyright">
    <span class="site-footer__copyright-icon"
      >&copy; 2022 - IceCream. All Rights Reserved.
    </span>
  </div>
</footer>
