<section>
  <div class="slideshow-container ">
    <picture class="mySlides fade">
      <source srcset="./images/galleryImg/desc_img1@1x.jpg  1x, 
              ./images/galleryImg/desc_img1@2x.jpg 2x" />
      <img src="./images/galleryImg/desc_img1@1x.jpg" alt="img1" class="gallery-img" />
    </picture>
    <picture class="mySlides fade">
      <source srcset="./images/galleryImg/desc_img2@1x.jpg 1x, 
              ./images/galleryImg/desc_img2@2x.jpg 2x" />
      <img src="./images/galleryImg/desc_img2@1x.jpg" alt="img2" class="gallery-img" />
    </picture>
    <picture class="mySlides fade">
      <source srcset="./images/galleryImg/desc_img3@1x.jpg 1x, 
          ./images/galleryImg/desc_img3@2x.jpg 2x" />
      <img src="./images/galleryImg/desc_img3@1x.jpg" alt="img3" class="gallery-img" />
    </picture>
  </div>


</section>