<header class="page-header">
  <div class="container header-container">
    <a href="" class="logo">
      <img
        class="logo__img"
        srcset="
          ./images/heroheader/ice-logo.png    1x,
          ./images/heroheader/ice-logo@2x.png 2x
        "
        src="./images/heroheader/ice-logo.png"
        alt="icecream logo"
      />
    </a>
    <nav class="page-nav">
      <ul class="main-nav">
        <li class="main-nav__item">
          <a class="main-nav__link" href="#home">Home</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#products">Our products</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="menu-toggle"
      aria-expanded="false"
      mobile-menu-open
    >
      <svg width="32" height="32" aria-label="Перемикач мобільного меню">
        <use
          class="icon-cross"
          href="./images/heroheader/hero-header.svg#menu-close"
        ></use>
        <use
          class="icon-menu"
          href="./images/heroheader/hero-header.svg#menu-open"
        ></use>
      </svg>
    </button>
    <button
      type="button"
      class="buy-now-btn"
      aria-expanded="false"
      data-modal-open="0"
      data-btn
    >
      Buy now >
    </button>
  </div>

  <!-- МОБІЛЬНЕ МЕНЮ -->
  <div class="mobile-menu" data-nav>
    <ul class="main-nav" data-menu>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#home">Home</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#about">How it’s made?</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#products">Our products</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#contacts">Contact</a>
      </li>
    </ul>
    <button
      type="button"
      class="buy-now-btn mobile"
      aria-expanded="false"
      data-modal-open="0"
      data-btn-mob
    >
      Buy now >
    </button>
  </div>
</header>
<section class="hero">
  <div class="container hero-container" id="home">
    <h1 class="hero__head">
      ice cream <br />
      made with <br />
      passion
    </h1>
    <div class="hero-links">
      <a class="hero-links__link product" href="#products">Products</a>
      <a class="hero-links__link made" href="#about">How it’s made?</a>
    </div>
    <div class="hero-content">
      <img
        class="hero-content__img"
        srcset="
          ./images/heroheader/ice-cream-balls.png    1x,
          ./images/heroheader/ice-cream-balls@2x.png 2x
        "
        src="./images/heroheader/ice-cream-balls.png"
        alt="ice cream balls"
      />
      <div class="hero-content__wrap">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="hero-content__btn" type="button">
          <svg class="icon-arrow" width="40" height="16">
            <use href="./images/heroheader/hero-header.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="hero-img"
      srcset="
        ./images/heroheader/ice-cream-cone.png    1x,
        ./images/heroheader/ice-cream-cone@2x.png 2x
      "
      src="./images/heroheader/ice-cream-cone.png"
      alt="ice cream cone"
    />
    <ul class="hero-list">
      <li class="hero-list__item">
        16
        <span class="hero-list__text">cafes</span>
      </li>
      <li class="hero-list__item">
        23
        <span class="hero-list__text">food trucks</span>
      </li>
    </ul>
  </div>
</section>

<!-- СКРИПТ МОБІЛЬНОГО МЕНЮ -->
<script>
  (() => {
    const menuBtnRef = document.querySelector('[mobile-menu-open]');
    const mobileMenuRef = document.querySelector('[data-menu]');
    const mobileBtnRef = document.querySelector('[data-btn]');
    const mobileBtnMobRef = document.querySelector('[data-btn-mob]');
    const mobileNavRef = document.querySelector('[data-nav]');

    menuBtnRef.addEventListener('click', () => {
      const expanded =
        menuBtnRef.getAttribute('aria-expanded') === 'true' || false;

      menuBtnRef.classList.toggle('is-open');
      menuBtnRef.setAttribute('aria-expanded', !expanded);

      mobileMenuRef.classList.toggle('is-open');
      mobileBtnRef.classList.toggle('is-open');
      mobileBtnMobRef.classList.toggle('is-open');
      mobileNavRef.classList.toggle('is-open');
    });
  })();
</script>
