<header class="page-header">
    <div class="container">
      <nav class="page-nav">
        <a href="" class="logo">
          <img
            srcset="
              ../images/header-hero/Logo.png    1x,
              ../images/header-hero/Logo@2x.png 2x
            "
            src="../images/header-hero/Logo.png"
            alt="icecream logo"
            width="60"
          />
        </a>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">How it’s made?</a>
          </li>
          <li>
            <a href="">Our products</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
        <button
          type="button"
          class="menu-toggle"
          aria-expanded="false"
          mobile-menu-button
        >
          <svg width="32" height="32" aria-label="Перемикач мобільного меню">
            <use class="icon-cross" href="../images/header-hero/menu-close.svg"> </use>
            <use class="icon-menu" href="../images/header-hero/menu-open.svg"></use>
          </svg>
        </button>
      </nav>
      <button
        type="button"
        class="byu-now-btn"
        aria-expanded="false"
        byu-now-button
      >
        Buy now >
      </button>
    </div>
  </header>
  <section class="hero">
    <div class="container">
      <h1>
        ice cream <br />
        made with <br />
        passion
      </h1>
      <button type="button">
        <a href="">Products</a>
      </button>
      <button type="button">
        <a href="">How it’s made?</a>
      </button>
      <img
        srcset="
          ../images/header-hero/ice-cream-balls.png    1x,
          ../images/header-hero/ice-cream-balls@2x.png 2x
        "
        src="../images/header-hero/ice-cream-balls.png"
        alt="icec ream balls"
        width="225"
      />
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <svg width="40" height="16">
          <use class="icon-arrow" href="../images/header-hero/Arrow.svg"></use>
        </svg>
      </div>
      <img
        srcset="
          ../images/header-hero/ice-cream-cone.png    1x,
          ../images/header-hero/ice-cream-cone@2x.png 2x
        "
        src="../images/header-hero/ice-cream-cone.png"
        alt="ice cream cone"
        width="456"
      />
      <ul class="">
        <li>16
          <span>cafes</span>
        </li>
        <li>23
          <span>food trucks</span>
        </li>
      </ul>
    </div>
  </section>
  