
    <header class="page-header">
      <div class="container header-container">
        <a href="" class="logo">
          <img
            class="logo__img"
            srcset="
              ../images/hero-header/Logo.png    1x,
              ../images/hero-header/Logo@2x.png 2x
            "
            src="../images/hero-header/Logo.png"
            alt="icecream logo"
          />
        </a>
        <nav class="page-nav" data-nav>
          <ul class="main-nav" data-menu>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#home">Home</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#how-its-made">How it’s made?</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#products">Our products</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#contacts">Contact</a>
            </li>
          </ul>
          <button
            type="button"
            class="menu-toggle"
            aria-expanded="false"
            mobile-menu-open
          >
            <svg width="32" height="32" aria-label="Перемикач мобільного меню">
              <use
                class="icon-cross"
                href="../images/hero-header/hero-header.svg#menu-close"
              ></use>
              <use
                class="icon-menu"
                href="../images/hero-header/hero-header.svg#menu-open"
              ></use>
            </svg>
          </button>
        </nav>
        <button
          type="button"
          class="buy-now-btn"
          aria-expanded="false"
          data-modal-open
          data-btn
        >
          Buy now >
        </button>
      </div>
    </header>
    <section class="hero">
      <div class="container hero-container">
        <h1 class="hero__head">
          ice cream <br />
          made with <br />
          passion
        </h1>
        <div class="hero-links">
          <a class="hero-links__link product" href="#products">Products</a>
          <a class="hero-links__link made" href="#how-its-made"
            >How it’s made?</a
          >
        </div>
        <div class="hero-content">
          <img
            class="hero-content__img"
            srcset="
              ../images/hero-header/ice-cream-balls.png    1x,
              ../images/hero-header/ice-cream-balls@2x.png 2x
            "
            src="../images/hero-header/ice-cream-balls.png"
            alt="ice cream balls"
            width="225"
          />
          <div class="hero-content__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <svg class="icon-arrow" width="40" height="16">
              <use href="../images/hero-header/hero-header.svg#arrow"></use>
            </svg>
          </div>
        </div>
        <img
          class="hero-img"
          srcset="
            ../images/hero-header/ice-cream-cone.png    1x,
            ../images/hero-header/ice-cream-cone@2x.png 2x
          "
          src="../images/hero-header/ice-cream-cone.png"
          alt="ice cream cone"
          width="456"
        />
        <ul class="hero-list">
          <li class="hero-list__item">
            16
            <span class="hero-list__text">cafes</span>
          </li>
          <li class="hero-list__item">
            23
            <span class="hero-list__text">food trucks</span>
          </li>
        </ul>
        <div class="hero__background"></div>
      </div>
    </section>

    <!-- СКРИПТ МОБІЛЬНОГО МЕНЮ -->
    <script>
      (() => {
        const menuBtnRef = document.querySelector('[mobile-menu-open]');
        const mobileMenuRef = document.querySelector('[data-menu]');
        const mobileBtnRef = document.querySelector('[data-btn]');
        const mobileNavRef = document.querySelector('[data-nav]');

        menuBtnRef.addEventListener('click', () => {
          const expanded =
            menuBtnRef.getAttribute('aria-expanded') === 'true' || false;

          menuBtnRef.classList.toggle('is-open');
          menuBtnRef.setAttribute('aria-expanded', !expanded);

          mobileMenuRef.classList.toggle('is-open');
          mobileBtnRef.classList.toggle('is-open');
          mobileNavRef.classList.toggle('is-open');
        });
      })();
    </script>
