<div class="backdrop is-hidden" data-modal="0">
  <div class="modal product">
    <form name="modal-product-form" class="modal__form">
      <h4 class="modal__title">Buy now</h4>
      <ul class="product__img">
        <li class="product__item">
          <label for="product-icecream">
            <input
              class="checkbox"
              type="checkbox"
              name="product-icecream"
              id="product-icecream"
            />
            <span class="div-box one title-check">ice cream</span>
            <span class="div-img img-cream"></span>
            <span class="div-shadow one"></span>
          </label>
        </li>
        <li class="product__item">
          <label for="product-coffee">
            <input
              class="checkbox"
              type="checkbox"
              name="product-coffee"
              id="product-coffee"
            />
            <span class="div-box two title-check">ice coffee</span>
            <span class="div-img img-coffee"></span>
            <span class="div-shadow two"></span>
          </label>
        </li>
        <li class="product__item">
          <label for="product-milkshake">
            <input
              class="checkbox"
              type="checkbox"
              name="product-milkshake"
              id="product-milkshake"
            />
            <span class="div-box three title-check">milkshakes</span>
            <span class="div-img img-milkshakes"></span>
            <span class="div-shadow three"></span>
          </label>
        </li>
      </ul>
      <div class="modal__name--wrapped">
        <label for="product-user-name" name="product-user-name"> </label>

        <input
          class="modal__name"
          type="text"
          pattern="[a-zA-Z-_]+"
          name="product-user-name"
          id="product-user-name"
          placeholder="Name"
        />
      </div>
      <div class="modal__tel--wrapped">
        <label for="product-user-tel" name="product-user-tel"> </label>
        <input
          class="modal__tel"
          type="tel"
          pattern="[0-9]+"
          name="product-user-tel"
          id="product-user-tel"
          placeholder="Phone"
        />
      </div>

      <div class="modal__comment--wrapped">
        <label for="product-user-comment" name="product-user-comment"> </label>
        <textarea
          class="modal__comment"
          name="product-user-comment"
          id="product-user-comment"
          placeholder="Comment"
        ></textarea>
      </div>

      <button class="modal__submit" type="submit">Submit</button>
    </form>
    <button class="modal__btn--closed" type="button" data-modal-close="0">
      <svg width="12" height="12">
        <use href="./images/symbols.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
  </div>
</div>
