<!-- <div class="backdrop is-hidden"> -->

<div class="backdrop is-hidden" data-modal="3">
  <div class="modal map">
    <form name="modal-form" class="modal__form">

      <h4 class="modal__title modal__title--map">Our Locations</h4>
      <div>

    
      <div class="modal__map--wrapped">

        <iframe
          class="map__box"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.74740992175!2d34.4871989007764!3d49.60202332106918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671831806592!5m2!1sru!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>

      <div class="map__btn">
        <a
          class="modal__map"
          href="https://goo.gl/maps/8kS4JccPGttZ8BAS9"
          target="_blank"
          rel="noreferrer noopener"
          >Open map</a
        >
      </div>

      <!-- <button class="modal__btn--closed" type="button"> -->

      <button class="modal__btn--closed" type="button" data-modal-close="3">
        <svg width="20" height="20">
          <use href="./images/symbols.svg#icon-modal-close-btn"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
