<div class="backdrop is-hidden" data-modal>
  <div class="modal product">
    <form name="modal-product-form" class="modal__form">
      <h4 class="modal__title">Buy now</h4>

      <div>
        <label for="product-user-name" name="product-user-name"> </label>
        <input
          class="modal__name"
          type="text"
          name="product-user-name"
          id="product-user-name"
          placeholder="Name"
        />
      </div>
      <div>
        <label for="product-user-tel" name="product-user-tel"> </label>
        <input
          class="modal__tel"
          type="tel"
          name="product-user-tel"
          id="product-user-tel"
          placeholder="Phone"
        />
      </div>

      <div>
        <label for="product-user-comment" name="product-user-comment"> </label>
        <textarea
          class="modal__comment"
          name="product-user-comment"
          id="product-user-comment"
          placeholder="Comment"
        ></textarea>
      </div>

      <button class="modal__submit" type="submit">Submit</button>
    </form>
    <button class="modal__btn--closed" type="button" data-modal-close>
      <svg width="12" height="12">
        <use href="./images/modal_close_btn.svg"></use>
      </svg>
    </button>
  </div>
</div>
